$item:70px;
.box{
    border:2px solid #ccc;
    width: 8*$item;
    height:9*$item;
    padding:8px;
    margin:$item auto;
    position:relative;
    .chess-ele{
        position:absolute;
        display:flex;
        align-items:center;
        justify-content: center;
        color:#fff;
        transform:translate(-50%,-50%);
        left:8px;
        top:8px;
        border-radius: 50%;
    }
}