$item:70px;
.box{
    border:2px solid #ccc;
    width: 8*$item;
    height:9*$item;
    padding:8px;
    margin:$item auto;
    position:relative;
    .chess-ele{
        position:absolute;
        display:flex;
        align-items:center;
        justify-content: center;
        color:#fff;
        margin-left:-25px;
        margin-top:-25px;
        border-radius: 50%;
        font-size:18px;
        box-shadow:1px 2px 6px rgba(255,255,255,.6)inset,-1px -2px 6px rgba(0,0,0,.5)inset,1px 2px 3px rgba(0,0,0,.5);
        transition: all .3s;
        &::before{
            content:"";
            position:absolute;
            width:70%;
            height:70%;
            border-radius:50%;
            border:2px solid rgba(255,255,255,.5);
            margin:0 auto;
        }
        cursor:pointer;
        &.active{
            &::before{
                position:absolute;
                content:"";
                filter:blur(2px);
                width:100%;
                height:100%;
                border-radius:50%;
                border:2px solid #f00;
                animation: cjb .3s forwards;
            }

            &[data-fang=blue]::before{
                border:2px solid #55f;
            }
        }

        &.zindex{
            z-index:12;
        }
        
    }
}

@keyframes cjb{
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(1.4); 
    }
    80%{
        transform: scale(1.1);  
    }
    100%{
        transform: scale(1.2);
    }
}



.mask{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    display:flex;
    justify-content:center;
    align-items:center;
    &.none{
        display:none;
    }
    .formbox{
        width:33%;
        background:#fff;
        border-radius:10px;
        padding:0 20px;
        animation: cjb .3s forwards;
        .title{
            padding:14px 0;

        }

        .form{
            font-size:14px;
            margin:0 auto;
            .item{
                margin:10px 0;
                .h{
                    color:#999;
                    margin-right:20px;
                }

                display:flex;
                .inputbox{
                    display:flex;
                    align-items:center;
                    input{
                        margin-right:20px;
                    }

                }

            }
        }
        .confirmBtn{
            padding:8px 18px;
            background:#55f;
            color:#fff;
            border-radius:20px;
            margin:20px;
            border:none;
            outline:none;
        }
    }
}

.mianban{
    width:200px;
    height:200px;
    border-radius:10px;
    border:2px solid #ccc;
    position:fixed;
    left:20px;
    top:100px;
    .status{
        text-align:center;
        padding:14px;
        font-size:16px;
        font-weight:bold;
        color:#666;
    }

    .footer{
        display:flex;
        justify-content: center;
        .startBtn,.resetBtn{
            padding:8px 14px;
            border-radius:30px;
            outline:none;
            margin:0 20px;
        }
        .startBtn{
            background:#46f;
            color:#fff;
            border:1px solid #46f;
        }
        .resetBtn{
            background:none;
            border:1px solid #999;
        }
    
    }
}